/*

THIS IS THE SCSS-FILE FOR THIS THEME

EDIT THIS ONE

*/

// import normalize, stay at top
@import "normalize";

$color-base: #00BCF2; //light-blue
$color-about: #ED4A89; //pink
$color-travels: #4553e9; //green
$color-tdbid: #AE95E5; //purple
$color-blog: #00BCF2; //light-blue
$color-bookshelf: #F6AE32; //orange
$color-portfolio: #DE3F34; //red

// Mixin used for media queries
@mixin breakpoint ($point) {
	@if $point == iphone {
		@media screen and (max-width: 550px) {
			@content;
		}
	}
	@else if $point == ipad {
		@media screen and (max-width: 770px) {
			@content;
		}
	}
	@else if $point == desktop {
		@media screen and (max-width: 959px) {
			@content;
		}
	}
}

/* #General
============================================================================== */
body {
	background-color: #fff;
	font-family: 'Merriweather', serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.7;
	overflow-x: hidden;
	color: #444444;
}

.wrapper {
	background-color: #fff;
}

.page-wrap {
	max-width: 660px;
	padding: 0 20px;
	margin: 0 auto;
}

.aligncenter {
	display: block;
	text-align: center;
}

::-moz-selection { background: $color-base; color: white; }
::selection { background: $color-base; color:white; }

/* #Typography
============================================================================== */

h1, h2, h3, h4, h5 {
	font-family: 'Merriweather sans', sans-serif;
	font-weight: 800; 
	color:#333332;

	a { color: #333332; }
}

h1 { font-size: 4em;}
h2 { font-size: 3em; line-height: 1.3em; text-transform: uppercase; text-align: center; margin-bottom: 20px;}
h3 { font-size: 1.7em; }
h4 { font-size:  1.3em; text-transform: uppercase; margin: 20px 0 0 0;}

strong, b { font-weight: 700; }

a { 
	color: $color-base; 
	text-decoration: none; 

	-webkit-transition: color 0.2s ease-out;
	   -moz-transition: color 0.2s ease-out;
		-ms-transition: color 0.2s ease-out;
		 -o-transition: color 0.2s ease-out;
			transition: color 0.2s ease-out;

	&:hover { color: #666; }
}

/* #Lists
============================================================================== */

ul { 
	padding: 0; 
	margin: 0 0 0 35px; 
}

li { 
	list-style: disc;

	p {
		margin-bottom: 15px;
	}
}


/* #Images
============================================================================== */

img {
	max-width: 100%;
	height: auto;
	margin: 30px 0;

	-webkit-box-shadow: 0 0 3px #ABABAB;
	   -moz-box-shadow: 0 0 3px #ABABAB;
			box-shadow: 0 0 3px #ABABAB;

	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&.alignleft {
		margin: 5px 20px 5px 0 !important;
		display: inline;
		float: left;
	}
	&.alignright {
		margin: 5px 0 5px 20px !important;
		display: inline;
		float: right;
	}
}


/* #HEADER
============================================================================== */

header {
	background-image: url('../images/banner2.png');
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat; 
	height: 850px;

	@include breakpoint (desktop) {
		background-size: 110%; 
		height: 400px;
	}

	@include breakpoint (iphone) {
		background-size: 145%;
		height: 265px;
	}

	.header-text {
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		top: 25%;
		padding-left: 50px;
		position: fixed;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

		//Make the header static and non fading at smaller screens
		@include breakpoint (desktop) {
			position: absolute;
			padding-left: 0;
			margin-top: 0 !important; //Override JS
			opacity: 1 !important; //Override JS
			top: 4%;
		}

		@include breakpoint (iphone) {
			top: 5%;
		}

		.site-title {
			font-family: 'PT Sans Narrow';
			line-height: 1em;
			font-weight: 700;
			margin-bottom: 0.1em;

			a {
				color: #ffffff; 
			}
		}
		.site-description {
			font-family: 'PT Sans Narrow';
			font-size: 1.375em;
			font-weight: 300;
			color: #ffffff;
			margin: 0;

			@include breakpoint (iphone) {
				font-size: 1em;
			}
		}
	}
}

/* #INDEX-PAGE
============================================================================== */

.home section {
	p:first-of-type {
		font-size: 1.2em;
	}

	img {
		width: 115%;	
		max-width: 115%;	
		display: block;
		margin-left: -9%;

		@include breakpoint (ipad) {
			width: 100%;
			margin: 0 auto;
		}
	}
}

.about-me {
	padding-top: 30px;
	padding-bottom: 60px;
	margin: 0 auto;
	color: #5A5A5A;
	border-bottom: 1px solid #D3D3D3;

	-webkit-box-shadow: 0 -3px 3px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 -3px 3px rgba(0,0,0,.2);
			box-shadow: 0 -3px 3px rgba(0,0,0,.2);

	h3 {
		text-align: left;
	}

	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		left: 50%;
		margin-top: 52px;
		height: 15px;
		width: 15px;
		background-color: #fff;
		border-right: 1px solid #D3D3D3;
		border-bottom: 1px solid #D3D3D3;

		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
}

.home section.blog {
	margin: 0 auto;
	border-bottom: 1px solid #D3D3D3;
	padding: 60px 0;

	.post {
		margin-bottom: 40px;
	}
	.post-meta {
		text-transform: uppercase;
		color: #9B9B9B;
	}
	.post-title {
		margin: 0;
		font-size: 3em;
		line-height: 1em;
	}
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		left: 50%;
		margin-top: 52px;
		height: 15px;
		width: 15px;
		background-color: #fff;
		border-right: 1px solid #D3D3D3;
		border-bottom: 1px solid #D3D3D3;

		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
}

.travel {
	height: 700px;
	background: #98b4b7 url(../images/world-map.png) center no-repeat;
}

.portfolio {
	min-height: 400px;
	padding: 60px 0;
	border-bottom: 1px solid #D3D3D3;
}

.tdbid-wrap {
	padding: 30px 0 60px 0;
	border-bottom: 1px solid #D3D3D3;
	background-color: #EEF2F9;

	.tdbid-list {
		width: 80%;
		margin: 0 auto;
		text-align: justify;

		article {
			display: inline-block;
			width: 45%;
			vertical-align: text-top;
			text-align: left;
			margin-bottom: 30px;

			@include breakpoint (ipad) {
				width: 100%;
			}
		}

		&:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
	}

	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		left: 50%;
		margin-top: 52px;
		height: 15px;
		width: 15px;
		background-color: #EEF2F9;
		border-right: 1px solid #D3D3D3;
		border-bottom: 1px solid #D3D3D3;

		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
}

.bookshelf {
	padding: 60px 0;
	
	.book-list {
		width: 70%;
		margin: 0 auto;
		padding-top: 40px;
		text-align: justify;

		.book {
			margin-top: 20px;
			position: relative;
			display: inline-block;

			img {
				width: 100px;
				height: 150px;
				margin: 0;
				opacity: .55;

				&:hover {
					opacity: .9;
				}
			}

			.tool-tip {
				display: none;
				font-size: 0.8em !important;
				font-weight: 400 !important;
				position: absolute;
				z-index: 10;
				min-width: 250px;
				padding: 0 15px;
				color: #fff;
				top: 170px;
				left: -50px;
				background-color: lighten(#00BCF2, 10%);
				border-radius: 5px;
				text-align: left;

				-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
				   -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
						box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);

				@include breakpoint(iphone) {
					left: -10px;
				}

				&:before {
					content: '';
					display: inline;
					position: absolute;
					top: -7px;
					left: 90px;
					width: 15px;
					height: 15px;
					background-color: lighten(#00BCF2, 10%);

					@include breakpoint(iphone) {
						left: 30px;
					}

					-webkit-box-shadow: -2px -2px 2px -1px rgba(0, 0, 0, 0.25);
					   -moz-box-shadow: -2px -2px 2px -1px rgba(0, 0, 0, 0.25);
							box-shadow: -2px -2px 2px -1px rgba(0, 0, 0, 0.25);

					-webkit-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					        transform: rotate(45deg);
				}
			}
			@include breakpoint (iphone) {
				&:nth-child(even) .tool-tip {
					left: -170px;

					&:before {
						left: 200px;
					}
				}
			}
		}
		&:after {
			content: '';
			width: 100%;
			display: inline-block;
		}
	}
}

/* #PAGE
============================================================================== */

.post-content {
	padding: 0 0 20px 0;
	p { margin-bottom:1.5em; }
	h3 { margin-bottom: 0.5em; }
	a {	color: #00BCF2; }
	ul { margin: 0 0 1.5em 1.7em; list-style: disc;	}
	li { margin-top: 0.5em; list-style: disc;}
}

.page-content {
	padding: 50px 0;

	.post-title {
		margin: 0;
	}
}

/* #FOOTER
============================================================================== */

#footer {
	clear: both;
	height: 50px;
	font-size: 0.9em;
	font-family: 'PT Sans Narrow', 'Helvetica Neue', Helvetica;
	padding-top: 30px;
	background-color: #222;
	color: rgba(250, 250, 250, 0.7);

	#social {
		float:left;
		text-transform: uppercase;

		@include breakpoint (desktop) {
			width: 100%; 
			text-align: center;
		}

		li {
			margin-right: 7px;
			display: inline;

			a { color: #666; }

			@include breakpoint (desktop) {
				display: inline-block; 
				text-align: center;
			}

			.facebook:hover {color: #3b5998;}
			.twitter:hover {color: #00aced;}
			.instagram:hover {color: #517fa4;}
		}

		li:nth-child(n+1) {
			margin-left: 7px;
		}
	}

	#copyright {
		float: right;

		@include breakpoint (desktop) {
			width: 100%; 
			text-align: center;
		}
	}
}

#back-to-top {
	display: none;
	opacity: 0.6;
	height: 40px;
	width: 40px;
	cursor: pointer;
	background-color: #00BCF2;
	border-radius: 3px;
	position: fixed;
	bottom: 30px;
	right: 30px;

	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		 -o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;

	&:hover {
		opacity: 1;
	}

	span {
		width: 14px;
		height: 14px;
		position: absolute;
		top: 33%;
		left: 33%;
		background: url(../images/arrow-up.png) center center no-repeat;
		background-position: -288px -120px;
	}
}
