/*

THIS IS THE SCSS-FILE FOR THIS THEME

EDIT THIS ONE

*/

// import normalize, stay at top
@import "normalize";

$color-base: #00BCF2; //light-blue
$color-about: #ED4A89; //pink
$color-travels: #4553e9; //green
$color-tdbid: #AE95E5; //purple
$color-blog: #00BCF2; //light-blue
$color-bookshelf: #F6AE32; //orange
$color-portfolio: #DE3F34; //red

// Mixin used for media queries
@mixin breakpoint ($point) {
	@if $point == iphone {
		@media screen and (max-width: 550px) {
			@content;
		}
	}
	@else if $point == ipad {
		@media screen and (max-width: 770px) {
			@content;
		}
	}
	@else if $point == desktop {
		@media screen and (max-width: 1080px) {
			@content;
		}
	}
}

/* #General
============================================================================== */
body {
	background-color: #fff;
	font: 100%/1.7 'Merriweather', serif;
	font-weight: 400;
	color: #444444;
}

.wrapper {
	background-color: #fff;
}

.page-wrap {
	max-width: 660px;
	padding: 0 20px 60px 20px;
	margin: 0 auto;

	@include breakpoint (iphone) {
		padding: 20px;
	}
}

.aligncenter {
	display: block;
	text-align: center;
}

::-moz-selection { background: $color-base; color: white; }
::selection { background: $color-base; color:white; }

/* #Typography
============================================================================== */

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	color: #333332;
}

h1 { font-size: 4em;}
h2 { 
	font-size: 3em; 
	line-height: 1.3em; 
	text-transform: uppercase; 
	text-align: center; 
	margin-bottom: 20px;
	@include breakpoint (iphone) {
		font-size: 2em;
	}
}
h3 { font-size: 1.7em; margin: 1.5em 0 0 0;}
h4 { font-size:  1.3em; text-transform: uppercase; margin: 1.5em 0 0 0;}

strong, b { font-weight: 700; }

p {
	margin: 0 0 1.4em 0;
}

a { 
	color: $color-base; 
	text-decoration: none; 

	-webkit-transition: color 0.2s ease-out;
	   -moz-transition: color 0.2s ease-out;
		-ms-transition: color 0.2s ease-out;
		 -o-transition: color 0.2s ease-out;
			transition: color 0.2s ease-out;

	&:hover { 
		color: #666; 
		
		img {
			opacity: 1 !important;
		}

	}
}

/* #Lists
============================================================================== */

ul { 
	padding: 0; 
	margin: 0 0 0 35px; 
}

li { 
	list-style: disc;

	p {
		margin-bottom: 15px;
	}
}


/* #Images
============================================================================== */

img {
	max-width: 100%;
	height: auto;
	margin: 30px 0;
	border-radius: 3px;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&.pull-right {
		display: block;
		max-width: 500px;
		float: right;
		margin: 20px -200px 20px 30px;

		@include breakpoint (desktop) {
			float: none;
			margin: 0 auto;
		}
	}
	&.pull-left {
		display: block;
		max-width: 500px;
		float: left;
		margin: 20px 30px 20px -200px;

		@include breakpoint (desktop) {
			float: none;
			margin: 0 auto;
		}
	}
}


/* #HEADER
============================================================================== */

nav {
	margin: 0 4%;
	position: fixed;
	width: 92%;
	padding: 2% 0;
	border-bottom: 1px solid #F3F3F3;
	text-align: right;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	@include breakpoint (ipad) {
		position: absolute;
	}

	li {
		list-style-type: none;
		display: inline-block;

		a {
			color: #FFF;
		}
	}

	.separator {
		margin: 0 10px;
	}

	#menu-icon {
		width: 20px;
		height: 3px;
		display: inline-block;
		position: relative;
		background-color: #FFF;
		vertical-align: middle;
		margin-right: 10px;

		-webkit-transition: background-color 0.2s ease-out;
		   -moz-transition: background-color 0.2s ease-out;
			-ms-transition: background-color 0.2s ease-out;
			 -o-transition: background-color 0.2s ease-out;
				transition: background-color 0.2s ease-out;

		&:after, &:before {
			position: absolute;
			content: '';
			top: -7px;
			left: 0;
			width: 20px;
			height: 3px;
			display: inline-block;
			background-color: inherit;
		}

		&:after {
			top: 7px;
		}
	}
}

.top-fade {
	position: fixed;
	width: 100%;
	height: 30%;

	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255, 0) 38%, rgba(160,160,160, 0.3) 100%);
	background-image:    -moz-linear-gradient(bottom, rgba(255,255,255, 0) 38%, rgba(160,160,160, 0.3) 100%);
	background-image:     -ms-linear-gradient(bottom, rgba(255,255,255, 0) 38%, rgba(160,160,160, 0.3) 100%);
	background-image:      -o-linear-gradient(bottom, rgba(255,255,255, 0) 38%, rgba(160,160,160, 0.3) 100%);
	background-image:         linear-gradient(bottom, rgba(255,255,255, 0) 38%, rgba(160,160,160, 0.3) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.38, rgba(255,255,255, 0)),
		color-stop(1, rgba(160,160,160, 0.3))
	);
}

header {
	background-image: url('../images/banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat; 
	height: 700px;

	@include breakpoint (desktop) {
		background-size: 110%; 
		height: 500px;
	}

	@include breakpoint (iphone) {
		background-image: url('../images/banner400x300.jpg');
		height: 270px;
	}

	.header-text {
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		top: 25%;
		position: fixed;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

		//Make the header static and non fading at smaller screens
		@include breakpoint (desktop) {
			position: absolute;
			padding-left: 0;
			margin-top: 0 !important; //Override JS
			opacity: 1 !important; //Override JS
		}

		@include breakpoint (iphone) {
			top: 15%;
		}

		.site-title {
			font-family: 'PT Sans Narrow';
			line-height: 1em;
			font-weight: 700;
			margin-bottom: 0.1em;

			a {
				color: #ffffff; 
			}
		}
		.site-description {
			font-family: 'PT Sans Narrow';
			font-size: 1.375em;
			font-weight: 300;
			color: #ffffff;
			margin: 0;

			@include breakpoint (iphone) {
				font-size: 1em;
			}
		}
	}
}

/* #INDEX-PAGE
============================================================================== */

.home section, 
.post-content, 
.portfolio-page {
	p:first-of-type {
		font-size: 1.2em;
	}

	img {
		@include breakpoint (ipad) {
			width: 100%;
			margin: 20px auto;
		}
	}
}

.about-me {
	padding-top: 30px;
	padding-bottom: 60px;
	margin: 0 auto;
	color: #5A5A5A;
	border-bottom: 1px solid #D3D3D3;

	@include breakpoint (iphone) {
		padding-top: 0;
	}

	h3 {
		text-align: center;
		font-size: 2.0em;
		margin-bottom: 20px;
		width: 130%;
		-webkit-transform: translateX(-10%);
			-ms-transform: translateX(-10%);
				transform: translateX(-10%);

		@include breakpoint (ipad) {
			width: 100%;
			font-size: 1.7em;
			margin-top: 10px;

			-webkit-transform: none;
				-ms-transform: none;
					transform: none;
		}
	}
}

.home section.blog {
	background-color: #000;
	margin: 0 auto;
	border-bottom: 1px solid #D3D3D3;
	padding: 60px 0;

	.post {
		margin-bottom: 40px;
	}
	.post-meta {
		color: #FFF;
	}
	.post-title {
		margin: 0;
		font-size: 2em;
		line-height: 1em;
		text-transform: uppercase;

		a {
			color: #FFF;

			&:hover {
				color: $color-base;
			}
		}
	}
}

.travel {
	height: 700px;
	background: #000 url(../images/World_map.png) center center no-repeat;
}

.portfolio {
	min-height: 400px;
	padding: 60px 0;
	border-bottom: 1px solid #D3D3D3;
}

.tdbid-wrap {
	padding: 30px 0 60px 0;
	border-bottom: 1px solid #D3D3D3;
	background-color: #EEF2F9;

	.tdbid-list {
		width: 80%;
		margin: 0 auto;
		text-align: justify;

		article {
			display: inline-block;
			width: 45%;
			vertical-align: text-top;
			text-align: left;
			margin-bottom: 30px;

			@include breakpoint (ipad) {
				width: 100%;
			}
		}

		&:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
	}
}

.bookshelf {
	padding: 60px 0;

	@include breakpoint (iphone) {
		padding: 20px 0;
	}
}


/* #PAGE
============================================================================== */

.post-content {
	padding: 0 0 20px 0;

	a {	color: #00BCF2; }
	ul { margin: 0 0 1.5em 1.7em; list-style: disc;	}
	li { margin-top: 0.5em; list-style: disc;}
}

.post-meta {
	font: 0.9em sans-serif;
	text-transform: uppercase;
	margin-bottom: 3px;
}

.page-content {
	float: left;
	width: 100%;
	padding: 50px 0;

	.post-title {
		margin: 0;
	}
}

.page-content .post-header h2 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
	text-align: left;
}

.portfolio-item {
	float:left;
	margin-bottom:100px;
}

/* #BOOKSHELF
============================================================================== */

.book-list {
	padding-top: 40px;

	.book {
		max-width: 28%;
		height: 230px;
		float: left;
		margin-top: 20px;
		margin-left: 50px;
		font-size: 0.8em;

		img {
			max-width: 100px;
			height: 150px;
			float: left;
			margin: 5px 20px 0 0;
			opacity: .8;
		}

		.book-content {
			max-width: 54%;
			float: left;
		}

		h4 { margin: 0; }
		p { margin-top: 0.3em; }

		@include breakpoint(desktop) {
			max-width: 45%;
			margin-left: 30px;
			height: 200px;

			.book-content {
				max-width: 60%;
			}
		}

		@include breakpoint (ipad) {
			float: none;
			max-width: 80%;
			margin: 0 auto;

			.book-content {
				max-width: 70%;
			}
		}

		@include breakpoint (iphone) {
			.book-content {
				max-width: 60%;
			}
		}
	}
}

/* #PORTFOLIO
============================================================================== */

.portfolio-page {

	article {
		float: left;
		text-align: center;
		margin-bottom: 40px;

		@include breakpoint (ipad) {
			float: none;
			margin: 0 auto;
		}

		&:nth-child(2n+2) {
			margin-right: 60px;

			@include breakpoint (ipad) {
				margin-right: 0;
			}
		}

		&:last-of-type {
			margin-bottom: 120px;
		}

		div {
			-webkit-transition: all 0.2s ease-out;
			   -moz-transition: all 0.2s ease-out;
				-ms-transition: all 0.2s ease-out;
				 -o-transition: all 0.2s ease-out;
					transition: all 0.2s ease-out;
			&:hover {
				opacity: .7;
			}
		}

		img {
			margin-bottom: 0;
		}
	}
}


/* #FOOTER
============================================================================== */

#footer {
	clear: both;
	height: 80px;
	font-size: 0.8em;
	font-family: 'Open Sans', sans-serif;
	padding-top: 30px;
	background-color: #000;
	color: rgba(250, 250, 250, 0.7);

	@include breakpoint (desktop) {
		height: 90px;
	}

	#social {
		float:left;
		text-transform: uppercase;

		@include breakpoint (desktop) {
			width: 100%; 
			text-align: center;
		}

		li {
			margin-right: 7px;
			display: inline;

			a { color: #666; }

			@include breakpoint (desktop) {
				display: inline-block; 
				text-align: center;
			}

			.facebook:hover {color: #3b5998;}
			.twitter:hover {color: #00aced;}
			.instagram:hover {color: #517fa4;}
		}

		li:nth-child(n+1) {
			margin-left: 7px;
		}
	}

	#copyright {
		float: right;

		@include breakpoint (desktop) {
			width: 100%; 
			margin-top: 10px;
			text-align: center;
		}
	}
}

#back-to-top {
	display: none;
	opacity: 0.6;
	height: 40px;
	width: 40px;
	cursor: pointer;
	background-color: #00BCF2;
	border-radius: 3px;
	position: fixed;
	bottom: 30px;
	right: 30px;

	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		 -o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;

	&:hover {
		opacity: 1;
	}

	span {
		width: 14px;
		height: 14px;
		position: absolute;
		top: 33%;
		left: 33%;
		background: url(../images/arrow-up.png) center center no-repeat;
		background-position: -288px -120px;
	}
}
